<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Angular App</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./bundle/styles.css">

  <!-- JS Dependencies -->
  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./node_modules/underscore/underscore.js"></script>
  <script src="node_modules/moment/min/moment.min.js"></script>

  <!-- Dependencies for Angular UI Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script type="text/javascript" src="./node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>

</head>
<body>
  <div ng-app="app" ng-controller="mainCtrl">

    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="../images/bg1.jpg" style="width:100%">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="../images/bg2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="../images/bg3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <a class="prev" ng-click="plusSlides(-1)">❮</a>
      <a class="next" ng-click="plusSlides(1)">❯</a>

      <div style="text-align:center">
        <span class="dot" ng-click="currentSlide(1)"></span>
        <span class="dot" ng-click="currentSlide(2)"></span>
        <span class="dot" ng-click="currentSlide(3)"></span>
      </div>

    </div>

    <!-- Begin header and nav -->
    <navbar class="flex-nav"></navbar>

    <!-- <main>
    	<div class="cd-fixed-bg cd-bg-1">
    		<h1></h1>
    	</div>

    	<div class="cd-scrolling-bg cd-color-2">
    		<div class="cd-container">
    			<p>
    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
    			</p>
    		</div>
    	</div>
    </main> -->



    <!-- <foot-bar></foot-bar> -->


  </div>
  <script type="text/javascript" src="./bundle/app.js"></script>
</body>
</html>
